<h3>Applies</h3>

<% if headhunter_signed_in? %>
  <% @applies.each do |apply| %>
    <p>
    ID: <%= link_to apply.id, apply %><br>
    Job: <%= apply.job.title %><br>
    User E-mail: <%= apply.user_email %><br>
    <%= link_to "View", apply %>
    </p> 
  <% end %>
<% end %>

<%= paginate @applies %><br>

<%= link_to "Return to Home", root_path %>
