<h3>Applies</h3>

<% if headhunter_signed_in? %>
  <% @applies.each do |apply| %>
    <%= link_to apply do %>
      <dt>Apply ID<dt> 
      <dd><%= apply.id %></dd>
      <dt>Job Title</dt> 
      <dd><%= apply.job.title %></dd>
      <dt>User E-mail</dt> 
      <dd><%= apply.user_email %></dd>
    <% end %>
  <% end %>
<% end %>

<%= paginate @applies %>

