<% if user_signed_in? || headhunter_signed_in? %>
  <h3>Apply to: <%= link_to @apply.job.title, @apply.job %></h3>
  <p>
  Apply ID:<%= @apply.id %><br>
  User ID: <%= @apply.user_id %><br>
  User Email: <%= @apply.user.email %><br>
  <%= link_to "View Profile ", profile_path(@apply.user_id) %>
  </p>
<% end %>

<%= link_to "Return to Home", root_path %>
