<% if user_signed_in? || headhunter_signed_in? %>
    <h3>Apply to: <%= link_to @apply.job.title, @apply.job %></h3>
    <dt>Apply ID</dt>
    <dd><%= @apply.id %></dd>
    <dt>User ID</dt> 
    <dd><%= @apply.user_id %></dd>
    <dt>User Email</dt> 
    <dd><%= @apply.user.email %></dd>
    <br>
    <%= link_to "View Profile ", profile_path(@apply.user_id) %>  
<% end %>

<% if headhunter_signed_in? %>
    <div>
      <%= link_to "Star This Apply", apply_star_select_path(@apply, profile_id: @apply.user_id), method: :post %>
    </div>
<% end %>

