<h3><%= I18n.t('profiles') %></h3>

<% if @profiles.any? %>
    <% @profiles.each do |profile| %>
      <dt><%= Profile.human_attribute_name(:name) %></dt>
      <dd>
        <% if profile.social_name.blank? %>
          <%= link_to profile.name, profile %>
        <% else %>
          <%= link_to profile.social_name, profile %>
        <% end %>
      </dd>
      <dt><%= Profile.human_attribute_name(:profile_id) %></dt>
      <dd><%= profile.id %></dd>  
    <% end %>
<% else %>
    <p><%= I18n.t('no_profiles') %></p>
<% end %>

<%= paginate @profiles %>
