<h3>Profiles</h3>

<% if headhunter_signed_in? %>
  <% @profiles.each do |profile| %>
    <p>
    <% if profile.social_name.blank? %>
      <%= link_to profile.name, profile %><br>
    <% else %>
      <%= link_to profile.social_name, profile %><br>
    <% end %>
    User ID: <%= profile.user_id %><br>  
    </p>
  <% end %>
<% end %>

<%= paginate @profiles %>

<%= link_to "Return to Home", root_path %>