<h4><%= I18n.t('profiles') %></h4>

<% if @profiles.any? %>
    <% @profiles.each do |profile| %>
      <p>
        <% if profile.social_name.blank? %>
          <%= link_to profile.name, profile %>
        <% else %>
          <%= link_to profile.social_name, profile %>
        <% end %>
        <%= profile.id %>
      </p>
    <% end %>
<% else %>
    <p><%= I18n.t('no_profiles') %></p>
<% end %>

<%= paginate @profiles %>
