<h3>Profiles</h3>

<% if @profiles.any? %>
    <% @profiles.each do |profile| %>
      <dt>Name</dt>
      <dd>
        <% if profile.social_name.blank? %>
          <%= link_to profile.name, profile %>
        <% else %>
          <%= link_to profile.social_name, profile %>
        <% end %>
      </dd>
      <dt>ID</dt>
      <dd><%= profile.user_id %></dd>  
    <% end %>
<% else %>
    <p>There are no profiles registered</p>
<% end %>

<%= paginate @profiles %>

<%= link_to "Return to Home", root_path %>