<h4><%= name_to_exibit(@profile) %></h4>

<dt><%= Profile.human_attribute_name(:birthdate) %></dt>
<dd><%= I18n.l(@profile.birthdate, format: :default) %></dd>
<dt><%= Profile.human_attribute_name(:description) %></dt>
<dd><%= @profile.description %></dd>
<dt><%= Profile.human_attribute_name(:educacional_background) %></dt>
<dd><%= @profile.educacional_background %></dd>
<dt><%= Profile.human_attribute_name(:experience) %></dt>
<dd><%= @profile.experience %></dd>
<dt><%= Profile.human_attribute_name(:country) %></dt>
<dd><%= @profile.country.name %></dd>
<dt><%= Profile.human_attribute_name(:city) %></dt>
<dd><%= @profile.city %></dd>

<%= link_to I18n.t('edit'), edit_profile_path(@profile) if user_signed_in?%>

<% if headhunter_signed_in? %>
  <br>
  <div>
    <%= render partial: 'comments/comment', locals: { comment: @comment } %>
    <%= render partial: 'comments/form', locals: { comment: @comment } %>
  </div>
<% end %>
