<% unless @profile.social_name.blank? %>
  <h3><%= @profile.social_name %></h3>
<% else %>
  <h3><%= @profile.name %></h3>
<% end %>

<p>
Birthday: <%= @profile.birthdate %><br>
Description: <%= @profile.description %><br>
Educational Background: <%= @profile.educacional_background %><br>
Experience: <%= @profile.experience %>
</p>

<% if user_signed_in? %>
  <ul>
    <li><%= link_to "Edit", edit_profile_path(@profile) %></li>
  </ul>
<% end %>

<%= link_to "Return to Home", root_path %>
