<% if headhunter_signed_in? %>
  <% if Star.exists?(headhunter_id, profile_id: @profile.id) %>
    <p>⭐</p>
  <% end %>
<% end %>

<% if @profile.social_name.blank? %>
  <h3><%= @profile.name %></h3>  
<% else %>
  <h3><%= @profile.social_name %></h3>
<% end %>

<p>
  Birthday: <%= @profile.birthdate %><br>
  Description: <%= @profile.description %><br>
  Educational Background: <%= @profile.educacional_background %><br>
  Experience: <%= @profile.experience %>
</p>

<% if user_signed_in? %>
  <ul>
    <li><%= link_to "Edit", edit_profile_path(@profile) %></li>
  </ul>
<% end %>

<% if headhunter_signed_in? %>
  <div>
    <%= link_to "Star this profile", profile_star_select_path(@profile, user_id: @profile.user_id, headhunter_id: current_headhunter.id), method: :post %>
  </div>
  <br>
  <div>  
    <%= render partial: 'comments/comment', locals: { comment: @comment } %>
    <%= render partial: 'comments/form', locals: { comment: @comment } %>
  </div>
<% end %>

<%= link_to "Return to Home", root_path %>
