<% if @profile.social_name.blank? %>
  <h3><%= @profile.name %></h3>  
<% else %>
  <h3><%= @profile.social_name %></h3>
<% end %>

<dt>Birthday</dt> 
<dd><%= @profile.birthdate %></dd>
<dt>Description</dt> 
<dd><%= @profile.description %></dd>
<dt>Educational Background</dt>
<dd><%= @profile.educacional_background %></dd>
<dt>Experience</dt> 
<dd><%= @profile.experience %></dd>


<% if user_signed_in? %>
  <ul>
    <li><%= link_to "Edit", edit_profile_path(@profile) %></li>
  </ul>
<% end %>

<% if headhunter_signed_in? %>
  <div>  
    <%= render partial: 'comments/comment', locals: { comment: @comment } %>
    <%= render partial: 'comments/form', locals: { comment: @comment } %>
  </div>
<% end %>
