<% if @comment.errors.any? %>
  <% @comment.errors.full_messages.each do |message|%>
    <p><%= message %></p>
  <% end %>  
<% end %>

<%= form_with model: comment do |form| %>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
      <%= form.submit %>
    </p>
    <%= form.hidden_field :profile_id %>
  <% end %>
  