<% if @comment.errors.any? %>
  <% @comment.errors.full_messages.each do |message|%>
    <p><%= message %></p>
  <% end %>
<% end %>

<%= form_with model:([@profile, @comment]) do |form| %>
    <%= form.hidden_field :profile_id %>
    <div>
      <%= form.label :body %>
      <%= form.text_area :body %>
    </div>
    <div>
      <%= form.submit %>
    </div>
<% end %>