<h3><%= I18n.t('all_archived') %></h3>

<% if headhunter_signed_in? %>
  <%= link_to I18n.t('all_published'), jobs_path %> -
  <%= link_to I18n.t('all_drafted'), index_draft_jobs_path %>
<% end %>

<% if headhunter_signed_in? || user_signed_in? %>
  <% if @jobs.any? %>  
    <% @jobs.each do |job| %>
      <%= render job %>       
    <% end %>
  <% else %>
    <p>There are not any job opening archived.</p>
  <% end %>  
<% end %>
<%= paginate @jobs %>
