<h4><%= I18n.t('all_results')%>: <%= @word %></h4>

<% if @jobs.any? %>
    <p><%= @jobs.count %>  <%= I18n.t('jobs_found') %></p>
    <% @jobs.each do |job|  %>
      <%= render job %>
    <% end %>
  <% else %> 
    <p><%= I18n.t('no_jobs') %></p> 
  <% end %>
