<h4><%= @job.title %></h4>

Deadline to apply: <%= @job.date %>

<p>
Description: <%= @job.description %><br>
Skills: <%= @job.skills %><br>
Salary: <%= @job.salary %><br>
Company: <%= @job.company %><br>
Level: <%= @job.level %><br>
Place: <%= @job.place %>
</p>

<% if user_signed_in? %>
  <ul>
    <li><%= link_to "Apply for this Job", job_enroll_path(@job, user_id: current_user.id), method: :post %></li>
  </ul>
<% end %>

<% if headhunter_signed_in? %>
  <ul>
    <li><%= link_to "Edit", edit_job_path(@job) %></li>
    <li><%= link_to "Delete", job_path(@job),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></li>
  </ul>
<% end %>

<% if headhunter_signed_in? %>
  <h4>All applies to this job</h4>
  <% @job.applies.each do |apply| %>
    <p>
    ID: <%= link_to apply.id, apply %><br>
    User E-mail: <%= apply.user_email %><br>
    <%= link_to "View", apply %>
    </p> 
  <% end %>  
<% end %>

<%= link_to "Return to Home", root_path %>
