<h4><%= @job.title %></h4>

<dt>Code</dt> 
<dd><%= @job.code %></dd>
<dt>Status</dt>
<dd><%= @job.job_status.capitalize %></dd>
<dt>Deadline to apply</dt> 
<dd><%= @job.date %></dd>
<dt>Description</dt>
<dd><%= @job.description %></dd>
<dt>Skills</dt>
<dd><%= @job.skills %></dd>
<dt>Salary</dt>
<dd><%= @job.salary %></dd>
<dt>Company</dt>
<dd><%= @job.company %></dd>
<dt>Level</dt>
<dd><%= @job.level %></dd>
<dt>Place</dt>
<dd><%= @job.place %></dd>

<% if user_signed_in? %>
  <ul>
    <li><%= link_to "Apply", applies_path(job_id: @job.id, user_id: current_user.id), method: :post %></li>
  </ul>
<% end %>

<% if headhunter_signed_in? %>
  <%= render 'jobs/select_status' %>
  <ul>
    <li><%= link_to "Edit", edit_job_path(@job) %></li>
    <li><%= link_to "Delete", job_path(@job),
                              method: :delete,
                              data: { confirm: "Are you sure?" } %></li>
  </ul>
  <%= render 'jobs/applies' %>
<% end %>


