<h2><%= @job.title %></h2>

<h4>Deadline to apply: <%= @job.date %></h4>

<p>
Description: <%= @job.description %><br>
Skills: <%= @job.skills %><br>
Salary: <%= @job.salary %><br>
Company: <%= @job.company %><br>
Level: <%= @job.level %><br>
Place: <li><%= @job.place %>
</p>

<ul>
  <li><%= link_to "Apply for this Job", batata_path %></li>
</ul>

<ul>
  <li><%= link_to "Edit", edit_job_path(@job) %></li>
  <li><%= link_to "Delete", job_path(@job),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<%= link_to "Return to Home", root_path %>
