<h4><%= @job.title %></h4>

<div>
    <dt><%= Job.human_attribute_name(:code) %></dt>
  <dd><%= @job.code %></dd>
  <dt><%= Job.human_attribute_name(:description) %></dt>
  <dd><%= @job.description %></dd>
  <dt><%= Job.human_attribute_name(:skills) %></dt>
  <dd><%= @job.skills %></dd>
  <dt><%= Job.human_attribute_name(:salary) %></dt>
  <dd><%= @job.salary %></dd>
  <dt><%= Job.human_attribute_name(:level) %></dt>
  <dd><%= translate_level(@job.level) %></dd>
  <dt><%= Job.human_attribute_name(:date) %></dt>
  <dd><%= I18n.l(@job.date, format: :default) %></dd>
  <dt><%= Job.human_attribute_name(:company_id) %></dt>
  <dd><%= @job.company.name %></dd>
  <dt><%= Job.human_attribute_name(:city) %></dt>
  <dd><%= @job.city %></dd>
  <dt><%= Job.human_attribute_name(:country_id) %></dt>
  <dd><%= @job.country.acronym %></dd>
  <dt><%= Job.human_attribute_name(:job_status) %></dt>
  <dd><%= translate_job_status(@job.job_status) %></dd>
  <dt><%= Job.human_attribute_name(:updated_at) %></dt>
  <dd><%= format_datetime(@job.updated_at) %></dd>
</div>

<% if user_signed_in? %>
  <% if @user_applied.present? %>
    <%= link_to I18n.t('your_apply'), apply_path(@user_applied.ids) %>
  <% else %>
    <%= link_to I18n.t('to_apply'), applies_path(job_id: @job.id, user_id: current_user.id), method: :post %>
  <% end %>
<% end %>


<br>

<%= render partial: "layouts/headhunter_edit_delete_instance", locals: {what_to_edit_delete: @job} %>

<% if headhunter_signed_in? %>
  <div>
    <%= render 'jobs/select_status' %>
  </div>
  <div>
    <%= render 'jobs/applies' %>
  </div>
<% end %>


