<h4><%= @job.title %></h4>

<%= render partial: "layouts/show_atributtes", locals: {what_to_show: @job} %>

<%= link_to I18n.t('apply'), applies_path(job_id: @job.id, user_id: current_user.id), method: :post if user_signed_in? %>

<br>

<%= render partial: "layouts/headhunter_edit_delete_instance", locals: {what_to_edit_delete: @job} %>

<% if headhunter_signed_in? %>
  <div>
    <%= render 'jobs/select_status' %>
  </div>
  <div>
    <%= render 'jobs/applies' %>
  </div>
<% end %>


