<h3><%= I18n.t('stars') %></h3>

<% if @stars.any? %>
  <% @stars.each do |star| %>
    <% if star.headhunter_id == current_headhunter.id %>
      <dt><%= Profile.human_attribute_name(:name) %></dt>
      <dd>
        <% if star.profile.social_name.blank? %>
          <%= link_to star.profile.name, profile_path(star.profile.user_id) %><br>
        <% else %>
          <%= link_to star.profile.social_name, profile_path(star.profile.user_id) %><br>
        <% end %>
      </dd>
      <dt><%= Apply.human_attribute_name(:id) %></dt> 
      <dd><%= link_to star.apply_id, apply_path(star.apply_id) %></dd>
      <p>
        <%= link_to I18n.t('delete'), star_path(star), 
                                  method: :delete,
                                  data: { confirm: I18n.t('sure') } %> 
          </p>
    <% else %>
      <p><%= I18n.t('no_stars') %></p>      
    <% end %>
  <% end %>  
<% else %>
  <p><%= I18n.t('no_stars') %></p>  
<% end %>  

<%= paginate @stars %>