<% if @proposal.errors.any? %>
  <% @proposal.errors.full_messages.each do |message|%>
    <p><%= message %></p>
  <% end %>
<% end %>

<%= form_with(model: [@apply, @proposal]) do |form| %>
  <div>
    <%= form.label :salary %>
    <%= form.number_field :salary %>
  </div>

  <div>
    <%= form.label :benefits %>
    <%= form.text_area :benefits %>
  </div>

  <div>
    <%= form.label :expectations %>
    <%= form.text_area :expectations %>
  </div>

  <div>
    <%= form.label :expected_start %>
    <%= form.date_field :expected_start %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
