<h3>Proposal <%= @proposal.id %></h3>

<dt>Apply ID</dt> 
<dd><%= link_to @proposal.apply_id, apply_path(@proposal.apply_id) %></dd>
<dt>Salary</dt> 
<dd><%= @proposal.salary %></dd>
<dt>Benefits</dt>
<dd><%= @proposal.benefits %></dd>
<dt>Expectations</dt> 
<dd><%= @proposal.expectations %></dd>

<% if headhunter_signed_in? %>
  <ul>
    <li><%= link_to "Edit", edit_profile_path(1) %></li>
  </ul>
<% end %>

