<h3>Proposal <%= @proposal.id %></h3>

<%= link_to apply_path(@proposal.apply_id) do %> 
  <dt>Apply ID</dt> 
  <dd><%= @proposal.apply_id %></dd> 
<% end %>
<dt>Salary</dt> 
<dd><%= @proposal.salary %></dd>
<dt>Benefits</dt>
<dd><%= @proposal.benefits %></dd>
<dt>Expectations</dt> 
<dd><%= @proposal.expectations %></dd>
<dt>Expected start</dt> 
<dd><%= @proposal.expected_start %></dd>

<% if headhunter_signed_in? %>
  <ul>
    <li><%= link_to "Edit", edit_apply_proposal_path(@proposal) %></li>
  </ul>
<% end %>

