<% if headhunter_signed_in? %>
  <%= link_to I18n.t('new_opening'), new_job_path %> -
  <%= link_to I18n.t('applies'), applies_path %> -
  <%= link_to I18n.t('openings'), jobs_path %> -
  <%= link_to I18n.t('profiles'), profiles_path %> -
  <%= link_to I18n.t('stars'), stars_path %> -
  <%= link_to 'Logout Headhunter', destroy_headhunter_session_path, method: :delete %> |
  <span><%= I18n.t('you_are') %> <%= current_headhunter.email %></span>
<% else %>
  <%= link_to 'Login Headhunter', new_headhunter_session_path unless user_signed_in? %>
<% end %>
