<%= link_to root_path do %>
  <h1>All Jobs</h1>
<% end %>  
<nav>
  <% if user_signed_in? %>
    <%= link_to 'Profile', new_profile_path %> -
    <%= link_to 'Openings', jobs_path %> -
    <%= link_to 'Logout User', destroy_user_session_path, method: :delete %> |
    <span>You are <%= current_user.email %></span> 
  <% else %>
    <% unless headhunter_signed_in? %>
      <%= link_to 'Login User', new_user_session_path %> |
    <% end %>    
  <% end %>

  <% if headhunter_signed_in? %>
    <%= link_to 'New Job Opening', new_job_path %> -
    <%= link_to 'Applies', applies_path %> -
    <%= link_to 'Openings', jobs_path %> -
    <%= link_to 'Profiles', profiles_path %> -
    <%= link_to 'Stars', stars_path %> -
    <%= link_to 'Logout Headhunter', destroy_headhunter_session_path, method: :delete %> |
    <span>You are <%= current_headhunter.email %></span>
  <% else %>
      <% unless user_signed_in? %>
        <%= link_to 'Login Headhunter', new_headhunter_session_path %>
      <% end %>
  <% end %>
  
  <% if user_signed_in? || headhunter_signed_in? %>
    <%= form_with(url: search_jobs_path, method: :get) do |f| %>
      <%= f.label :query, 'Search Job' %>
      <%= f.text_field :query %>
      <%= f.submit 'Search' %>
    <% end %>  
  <% end %>
</nav>  
